<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bugshaker">

    <application
        android:name="com.example.bugshaker.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".UnsecuredActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SecuredActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".MapViewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".MapFragmentActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".SurfaceViewActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCT0Me0Yy9EyZRYye77e0y7QjtlBMENyTo" />

        <!--
        This exists to check that the FileProvider embedded in the library does not conflict with a non-subclassed
        FileProvider defined in the embedding application manifest.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/example_file_paths" />

        </provider>

    </application>

</manifest>
