<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bugshaker">

    <!--Crashlytics-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.example.bugshaker.CustomApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".UnsecuredActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".SecuredActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".MapViewActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".MapFragmentActivity"
            android:launchMode="singleTop" />

        <activity
            android:name=".SurfaceViewActivity"
            android:launchMode="singleTop" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCT0Me0Yy9EyZRYye77e0y7QjtlBMENyTo" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="placeholder" />

    </application>

</manifest>
